apiVersion: apps/v1
kind: Deployment
metadata:
    name: demo-app
spec:
    replicas: 2
    selector:
        matchLabels:
            app: demo
    template:
        metadata:
            labels:
                app: demo
        spec:
            containers:
            - name: demo
              image: muneeswaran/demo-kube:v1
              ports:
              - containerPort: 3000