apiVersion: v1
kind: service
metadata:
    name: demo-service
spec:
    type: NodePort
    selector:
        app: demo
    ports:
        - port: 80
          targetPort: 3000
          nodePort: 30007